<!-- Main Login Div Starts -->
<div class="h-90">
    <div class="row h-100">
        <div class="col-12 my-auto">

            <!-- Loading Spinner Starts -->
            <div *ngIf="isLoading; else notLoading" class="text-center">
                <mat-spinner class="mx-auto"></mat-spinner>
            </div>
            <!-- Loading Spinner Ends -->

            <ng-template #notLoading>
                <!-- Login Heading Text Starts -->
                <div class="text-center">
                    <label class="text-primary">Login To Your Fitness Tracker App Account</label>
                </div>
                <!-- Login Heading Text Ends -->

                <!-- Bootstrap row and column for positioning -->
                <div class="row text-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">

                        <!-- Login Form Starts -->
                        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

                            <!-- Email Field Starts -->
                            <div class="form-group">
                                <mat-form-field>
                                    <input type="email" matInput placeholder="Email ID" ngModel name="email" email
                                        required #emailInput="ngModel">
                                    <mat-error *ngIf="emailInput.hasError('required')">Email is Required!</mat-error>
                                    <mat-error *ngIf="!emailInput.hasError('required')">Email is Invalid!</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Email Field Ends -->

                            <!-- Password Field Starts -->
                            <div class="form-group">
                                <mat-form-field>
                                    <input type="password" matInput placeholder="Password" ngModel name="password"
                                        required #passwordInput="ngModel">
                                    <mat-error *ngIf="passwordInput.hasError('required')">Password is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Password Field Ends -->

                            <!-- Login Button Starts -->
                            <div class="form-group">
                                <button type="submit" mat-raised-button color="primary"
                                    [disabled]="loginForm.invalid">Login</button>
                            </div>
                            <!-- Login Button Ends -->

                        </form>
                        <!-- Login Form Ends -->

                    </div>
                    <div class="col-md-4"></div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<!-- Main Login Div Ends -->